<!--CREACION DE LA BARRA DE NAVEGACION-->
<div class="container-fluid">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm main" style="background-color: #CFC6AB;">
      <!--CONTENADOR GENERAL-->
        <div class="container-fluid">
          <!--LOGO-->
          <a class="navbar-brand">
            <img src="../assets/img/logo-menubar.svg" alt="" width="250" height="90">
          </a> <!--FIN LOGO-->
        </div> <!--FIN CONTENEDOR GENERAL-->
      </nav>
      <br>    
      <br>    
      <br>   
      <br>     
   
  </div>
  
  